.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 15px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.add_btn{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Ralleway", serif;
}
main{
    height: 350px;
    width: 500px;
    display: flex;
    background-color: white;
    border-radius: 15px;

}
.left_content{
    height: 350px;
    width: 800px;
    background-image: url(img/image-product-desktop.jpg);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-position: center;
    background-size: cover;

}
.right_content{
    margin-left: 20px;
    margin-right: 20px;

}
.price{
    display: flex;
    align-items: center;
    height: 40px;
}
h1{
    font-size: medium;
    font-weight: 100;
}
h3{
    padding-right: 20px;
    color: rgb(61, 129, 102);
    font-size: 25px;
}
h4{
    font-size: 10px;
    text-decoration: line-through;
    font-weight: 100;
}
.button{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    text-decoration: none;
    background-color: rgb(61, 129, 102);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
}
@media screen and (max-width: 376px) {

    main{
        height: 95vh;
        width: 90vw;
        background-color: white;
        display: block;
    
    }
    .left_content{
        background-image: url(img/image-product-mobile.jpg);
        background-size: cover;
        width: auto;
        height: 250px;
        background-position: center;
        display: flex;
        border-radius: 15px 15px 0px 0px;
    }
    .right_content{
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .price{
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 60px;
    }
    .button{
        display: flex;
        justify-content: center;
        height: 55px;
        align-items: center;
        text-decoration: none;
        background-color: rgb(61, 129, 102);
        border-radius: 5px;
        margin-top: 40px;
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 18px;
    }
    .attribution{
        margin-top: 75px;
    }
}